body {
    background: wheat;
}

.button {
    font-size: 2em;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: indigo;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(169, 47, 255);
}

.button:active {
    background-color: rgb(102, 0, 175);
}

.container {
    text-align: center;
    
}

.dice {
    font-size: 20em;
}

